In [1]:
import pandas as pd
from faker import Faker
import random
import streamlit as st

In [2]:
faker = Faker()
n = 10

In [3]:
Customers = []

for _ in range(n):
  Customers.append({
      'customer_id': faker.uuid4(),
      'name': faker.name(),
      'email': faker.email(),
      'phone_number': faker.phone_number(),
      'location': faker.city(),
      'signup_date': faker.date_this_decade(),
      'is_premium': faker.boolean(),
      'preferred_cuisine': random.choice(['Indian', 'Chinese', 'Mexican', 'Italian', 'Arabian']),
      'total_orders': random.randint(1, 10),
      'average_rating': round(float(random.randint(1, 5)),2)
  })

df1 = pd.DataFrame(Customers)
df1

,customer_id,name,email,phone_number,location,signup_date,is_premium,preferred_cuisine,total_orders,average_rating
0,ca01b98b-3cbd-43d1-b4cf-bfadc700824b,Danielle Rodriguez,allenlaura@example.com,367-397-3509x23749,Hughesside,2021-12-20,True,Chinese,4,4.0
1,9105c3a6-58b7-4bf7-99e2-aaebd37a4eab,Casey Lutz,ggalloway@example.com,(254)635-8531x6422,Chrisport,2024-04-19,False,Indian,4,1.0
2,e68d4486-b8f1-413c-9342-24a63b31e87d,Joshua Garrett,masseytimothy@example.com,001-390-756-2653,Phillipsstad,2023-11-28,False,Italian,3,5.0
3,cac2dd2e-7eee-42f7-a770-b9c14f029580,Michael Brown,jonathanbautista@example.net,889.717.4632x01737,Goodwinchester,2023-08-08,True,Mexican,7,1.0
4,e7ccf70f-eb68-4d94-b0e5-f0fa3fb1dd34,Kyle Lee,evan77@example.net,001-850-655-4224x06945,Lake Roseview,2022-10-06,False,Indian,4,4.0
5,b8ff1826-068c-41dc-a44e-6c2bb19a3f63,Courtney Pope,stephanieanderson@example.com,(432)438-1438x204,Finleymouth,2020-06-06,False,Arabian,7,3.0
6,21292c1b-36d8-4ac4-9251-c5b963fa2789,Gregory Holmes,daniel28@example.net,001-525-610-7863,Josephburgh,2020-05-26,True,Chinese,2,5.0
7,7734ad17-288a-48dc-b87b-5b22cacb6983,Michelle Montgomery,dreynolds@example.com,001-991-344-5913x8349,New Samuel,2024-01-23,True,Mexican,4,3.0
8,91139e18-75ae-4b88-9aac-d712b5c5a10b,Miss Casey Davidson,jerry82@example.com,624-546-2842,Fitzpatrickfurt,2022-07-16,True,Arabian,5,1.0
9,56c7026f-9468-40c7-bf61-ce565f8ce04a,Kenneth Collins,weekstracy@example.com,(419)785-8132x6237,Benjaminfort,2023-09-08,True,Chinese,4,3.0

In [4]:
Restaurants = []

for _ in range(n):
  Restaurants.append({
      'restaurant_id': faker.uuid4(),
      'name': faker.company(),
      'cuisine_type': random.choice(['Indian', 'Chinese', 'Mexican', 'Italian', 'Arabian']),
      'location': faker.city(),
      'owner_name': faker.name(),
      'average_delivery_time': random.randint(10, 60),
      'contact_number': faker.phone_number(),
      'rating': round(float(random.randint(1, 5)),2),
      'total_orders': random.randint(1,50),
      'is_active': faker.boolean()
  })

df2 = pd.DataFrame(Restaurants)
df2

,restaurant_id,name,cuisine_type,location,owner_name,average_delivery_time,contact_number,rating,total_orders,is_active
0,e9e8391d-8c6d-4328-b2c1-a5c91a9eca5c,Rivera-Jacobson,Arabian,West Thomas,Alexander Nelson,24,909.480.3714,2.0,38,True
1,80fac20d-388f-4b9c-b14e-2e05396163e6,Liu-Collins,Mexican,Bryanmouth,Amanda Martinez,36,6283484532,3.0,40,False
2,41404f99-d639-4f27-aecc-2c646720f66b,Lee Inc,Chinese,West Kelly,Anthony Gutierrez,41,(310)781-5109x5619,2.0,49,False
3,072cf232-6795-419c-9771-8d1f8587d21f,Adkins-Stephenson,Italian,Michaelview,Susan Santos,51,250.459.2312x8879,4.0,19,True
4,0e06869f-0fcf-4196-a088-b2e1f13f32e0,"Wright, Fletcher and Garcia",Chinese,Pamelashire,Diane Dean,25,652-824-4966x0034,5.0,34,False
5,2e04fafc-df4d-4977-9e86-132e58fa0d69,Hansen Inc,Indian,Susanview,Kyle Shelton,21,+1-836-562-5235x01398,5.0,26,False
6,853c4d53-72d0-49b1-8f0b-2635ac98793d,Price Ltd,Mexican,West Karenview,Kathy Giles,18,+1-425-844-6365x67426,1.0,4,True
7,41e5ac21-b096-4fe5-a708-9b14e952ef61,Wood-Mccullough,Italian,North Ronald,Alicia Tyler,56,+1-452-493-1194x2104,1.0,40,True
8,858861bd-cfbf-446e-b68c-37acef6927d3,Mckay LLC,Mexican,North Michael,James Roberson,24,(680)484-6060x78432,3.0,22,True
9,01a051a3-dcde-4d4b-89dd-d3b46b9602d3,"Duncan, Garcia and Smith",Mexican,Lake Charlesport,Matthew Lopez,30,388.226.1480x9985,3.0,32,True

In [5]:
Orders = []

for _ in range(n):
  Orders.append({
      'order_id': faker.uuid4(),
      'customer_id': random.choice(Customers)['customer_id'],
      'restaurant_id': random.choice(Restaurants)['restaurant_id'],
      'order_date': faker.date_time_this_month(),
      'delivery_time': faker.date_time_this_month(),
      'status': random.choice(['Pending','Delivered','Cancelled']),
      'total_amount': random.randint(100, 1000),
      'payment_mode': random.choice(['Credit Card','Cash','UPI']),
      'discount_applied': random.choice([10,20,30,40,50,60,70,80]),
      'feedback_rating': round(float(random.randint(1, 5)),2)
  })

df3 = pd.DataFrame(Orders)
df3

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,payment_mode,discount_applied,feedback_rating
0,5b5ffeae-47dc-49cc-b4aa-30282ed72005,cac2dd2e-7eee-42f7-a770-b9c14f029580,0e06869f-0fcf-4196-a088-b2e1f13f32e0,2025-01-04 12:36:36,2025-01-09 06:39:55,Cancelled,410,Credit Card,60,4.0
1,fe111c35-3969-4b0c-a488-4c176691a9b4,7734ad17-288a-48dc-b87b-5b22cacb6983,41404f99-d639-4f27-aecc-2c646720f66b,2025-01-02 23:11:14,2025-01-04 08:26:34,Pending,938,UPI,20,3.0
2,ec1cfd67-2530-4e8c-a145-176ca1433792,e7ccf70f-eb68-4d94-b0e5-f0fa3fb1dd34,41404f99-d639-4f27-aecc-2c646720f66b,2025-01-08 11:53:49,2025-01-03 04:43:20,Cancelled,116,Cash,30,4.0
3,d42990a3-0c87-4322-abd9-b1fede966e7c,91139e18-75ae-4b88-9aac-d712b5c5a10b,80fac20d-388f-4b9c-b14e-2e05396163e6,2025-01-10 19:02:45,2025-01-13 08:35:15,Pending,806,Credit Card,50,5.0
4,dc8bb214-c55a-4d24-b4d1-c8142e39662b,91139e18-75ae-4b88-9aac-d712b5c5a10b,858861bd-cfbf-446e-b68c-37acef6927d3,2025-01-05 23:44:56,2025-01-10 16:29:05,Cancelled,176,Credit Card,20,2.0
5,d3641ad2-7aca-44fc-9b43-994dd409e03f,e68d4486-b8f1-413c-9342-24a63b31e87d,41e5ac21-b096-4fe5-a708-9b14e952ef61,2025-01-12 13:53:35,2025-01-10 19:27:50,Delivered,610,Credit Card,60,1.0
6,63f26f17-10da-4027-8fdf-0285f6a358a8,91139e18-75ae-4b88-9aac-d712b5c5a10b,01a051a3-dcde-4d4b-89dd-d3b46b9602d3,2025-01-08 10:47:21,2025-01-11 19:00:59,Cancelled,408,UPI,20,1.0
7,e0298641-caaf-4b12-879c-7ca3a646a06e,cac2dd2e-7eee-42f7-a770-b9c14f029580,072cf232-6795-419c-9771-8d1f8587d21f,2025-01-02 13:02:46,2025-01-08 19:36:27,Cancelled,835,Cash,80,4.0
8,ec247276-5366-4132-b425-7abaeeeeab22,cac2dd2e-7eee-42f7-a770-b9c14f029580,858861bd-cfbf-446e-b68c-37acef6927d3,2025-01-09 23:28:43,2025-01-11 04:38:54,Delivered,533,UPI,30,5.0
9,d3b9d906-4a93-41fd-8e1d-325dd7d8c24b,21292c1b-36d8-4ac4-9251-c5b963fa2789,01a051a3-dcde-4d4b-89dd-d3b46b9602d3,2025-01-03 07:45:39,2025-01-04 01:36:23,Pending,931,Credit Card,30,5.0

In [6]:
Deliveries = []

for _ in range(n):
  Deliveries.append({
      'delivery_id': faker.uuid4(),
      'order_id': random.choice(Orders)['order_id'],
      'delivery_status': random.choice(['On the Way', 'Delivered', 'Cancelled']),
      'distance': random.randint(1,20),
      'delivery_time': random.randint(10,60),
      'estimated_time': random.randint(10,60),
      'delivery_fee': random.randint(10,50),
      'vehicle_type': random.choice(['Bike','Scooter'])
  })

df4 = pd.DataFrame(Deliveries)
df4

,delivery_id,order_id,delivery_status,distance,delivery_time,estimated_time,delivery_fee,vehicle_type
0,7f041730-c563-4045-a469-26feb5a82921,d42990a3-0c87-4322-abd9-b1fede966e7c,Delivered,1,56,47,21,Scooter
1,dc105797-b5d6-4290-b26d-e936ed3f133b,ec1cfd67-2530-4e8c-a145-176ca1433792,Cancelled,5,51,44,50,Bike
2,ab3362c7-6046-4119-9d5d-4ca6f08650b1,e0298641-caaf-4b12-879c-7ca3a646a06e,On the Way,10,38,53,20,Scooter
3,ac75bc77-00e2-454e-82af-a06f371274b9,e0298641-caaf-4b12-879c-7ca3a646a06e,Delivered,11,56,16,32,Scooter
4,da088768-847c-49e1-a365-a50712451f9f,ec1cfd67-2530-4e8c-a145-176ca1433792,Delivered,18,25,25,16,Bike
5,7f8e70a5-ad8c-4d90-91a4-a7ede420339a,d3b9d906-4a93-41fd-8e1d-325dd7d8c24b,Delivered,12,60,52,18,Scooter
6,45c04c32-bd6f-4ca9-a8ab-f06f27309b37,ec247276-5366-4132-b425-7abaeeeeab22,On the Way,4,59,40,39,Scooter
7,607820eb-70b1-42d9-8ec1-c01ae770b47a,63f26f17-10da-4027-8fdf-0285f6a358a8,Delivered,4,53,11,22,Bike
8,918573b1-bc87-43b5-ac83-6fb982bd22f7,dc8bb214-c55a-4d24-b4d1-c8142e39662b,Delivered,9,39,16,40,Bike
9,05869567-e221-44c1-8187-7adba604d0b5,63f26f17-10da-4027-8fdf-0285f6a358a8,Delivered,5,28,21,40,Scooter

In [7]:
df1.to_csv('Customers.csv', index=False)
df2.to_csv('Restaurants.csv', index=False)
df3.to_csv('Orders.csv', index=False)
df4.to_csv('Deliveries.csv', index=False)